.jumbotron {
  background-color: #ffdab9;
  padding-top: 6rem;
}

body {
  font-family: "Poppins", sans-serif;
}

#project {
  background-color: #ffdab9;
}

footer {
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: small;
}

section {
  padding-top: 6rem;
  padding-bottom: 4rem;
}
