.jumbotron {
  background-color: var(--bs-body-bg);
  padding-top: 6rem;
  height: 100vh;
  position: relative;
}

body {
  font-family: "Poppins", sans-serif;
}

#project {
  background-color: #ffdab9;
}

#about {
  height: 100vh;
  position: relative;
}

footer {
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: small;
}

section {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

@media (max-width: 576px) {
  .btn-github {
    width: 90%;
    box-shadow: grey;
  }

  .navbar {
    text-align: center;
  }
}

